<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Grant Ammons" %></title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700|Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <%= partial :favicon %>
    <%= stylesheet_link_tag :site, :syntax %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "nav" %>

    <div class="logo">
      <img src="/images/me.png" />
    </div>

    <div class="page">
      <section class="firstSection">
        <h1><%= current_page.data.title %></h1>
      </section>

      <article class="blog-post">
        <%= yield %>
      </article>

      <hr />
      <%= partial :disqus %>

      <div class="footer">
        &copy; <%= Time.now.year %> Grant Ammons
      </div>
    </div>

    <%= google_analytics_universal_tag %>
  </body>
</html>

